/* COMMON */
* {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.small-wrapper {
    max-width: 1050px;
    margin: auto;
}

li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black
}

h1 {
    font-size: 45px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    max-width: 100%;
}

/* HEADER */
.top-nav {
    padding: 20px 0;
}

header nav {
    text-align: right;
}

header .fa-bars {
    font-size: 30px;
    padding-right: 10px;
}

header .menu {
    font-size: 12px;
}

header .menu li {
    padding: 0 8px;
    line-height: 30px;
}

header img[alt=logo-black] {
    padding: 7px 0px 7px 7px;
    width: 90px;
}

/* Language nav */
.language-menu li {
    border-right: 1px solid black;
}

.language-menu li:last-child {
    border: none;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/hero-bg.jpg);
    height: 520px;
    text-align: center;
    background-size: cover;
    position: relative;
}

.teaser {
    color: white;
}

.teaser p {
    margin: 25px 0;
}

.teaser img {
    width: 160px;
}
/* END HEADER */



/* MAIN */
/* Products section */
.products {
    margin-top: 15px;
}

.products .inner-col {
    padding: 20px;
}

.products .content-col {
    text-align: center;
    background-color: #fafafa;
}

.products .content-col span {
    display: block;
    font-size: 23px;
    margin: 20px 0;
}

.products h2 {
    font-size: 30px;
    font-weight: 150;
    padding-top: 60px;
}

.products a {
    color: blue;
    font-size: 18px;
}

/* Phone Section */
.phone {
    background-image: url(../img/HelbizBanner.jpg);
    height: 500px;
    background-position: -200px -15px;
    background-size: 2000px;
    background-repeat: no-repeat;
}

.phone img {
    height: 600px;
    display: block;
    margin: auto;
    position: relative;
    top: 200px;
}

/* Info Section */
.info .container .inner-col {
    padding: 100px 0 50px 170px;
}

.info .container span {
    font-size: 30px;
}

.info .container .step-1 span {
    font-size: 14px;
    padding-top: 10px;
    display: inline-block;
}

.info .container .step-1 {
    padding-left: 50px;
}

@media all and (max-width: 991px) {

    .phone {
        margin-bottom: 300px;
    }

    .info .container .inner-col {
        text-align: center;
        padding: 0;
    }

    .info .container .step-1 {
        margin-top: 40px;
        padding: 0;
    }
}

/* Medium Wrapper */
.medium-wrapper {
    max-width: 1300px;
    margin: 50px auto;
}

.medium-wrapper a {
    color: white;
}

/* Mobility */
.mobility {
    height: 500px;
    background-image: url(../img/ScooterHelbiz-2400.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}

.mobility h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 100;
}

.mobility p {
    font-size: 20px;
    margin: 15px 0;
}

.mobility .centered {
    padding: 0 130px;
    transform: translate(0%, -50%);
}

@media all and (max-width: 991px) {
    .mobility .centered {
        padding: 0;
        transform: translate(-50%, -40%);
        text-shadow: 5px 4px 5px black;
    }
}

/* Get the App */
.get-the-app .inner-col {
    padding-top: 30px;
    padding-right: 20px;
}

.get-the-app .col-lg-6 .content-col {
    height: 400px;
    background-image: linear-gradient(to top, rgb(64, 78, 95) , rgba(83, 104, 128, 0.829));
    text-align: center;
    overflow: hidden;
}

.find-us,
.find-us a,
.get-the-app,
.get-the-app a {
    color: white;
    font-size: 22px;
}

.find-us h2,
.get-the-app h2 {
    padding-top: 30px;
    font-size: 30px;
}

.find-us span,
.get-the-app span {
    font-size: 20px;
    margin: 20px;
    display: inline-block;
}

@media all and (max-width: 991px) {
    .get-the-app .inner-col {
        padding: 30px 0 0 0;
    }
}

/* Find Us */
.find-us .inner-col {
    padding-top: 30px;
    padding-left: 20px;
}

.find-us .col-lg-6 .content-col {
    height: 400px;
    background-image: url(../img/cities-1500.jpg);
    background-position: top;
    background-size: 700px;
}

.find-us .content-col {
    text-align: center;
}

@media all and (max-width: 991px) {
    .find-us .inner-col {
        padding: 30px 0 0 0;
    }

    .find-us .col-lg-6 .content-col {
        height: 400px;
        background-image: url(../img/cities-1500.jpg);
        background-position: top;
        background-size: cover;
    }
}

/* Social Banner */
.social-banner {
    background-image: url(../img/Social-Banner.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
    margin-top: 460px;
    position: relative;
    margin-bottom: 30px;
}

.helbiz-family {
    background-color: white;
    text-align: center;
    padding: 50px 120px;
}

.helbiz-family h3 {
    font-size: 27px;
    margin-bottom: 10px;
}

.helbiz-family .social-icons {
    font-size: 30px;
    word-spacing: 20px;
}

@media all and (max-width: 991px) {
    .social-banner {
        display: none;
    }
}
/* END MAIN */


/* FOOTER */

/* END FOOTER */