/* COMMON */
* {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.small-wrapper {
    max-width: 1050px;
    margin: auto;
}

li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black
}

h1 {
    font-size: 45px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    max-width: 100%;
}

/* HEADER */
.top-nav {
    padding: 20px 0;
}

header nav {
    text-align: right;
}

header .fa-bars {
    font-size: 30px;
    padding-right: 10px;
}

header .menu {
    font-size: 12px;
}

header .menu li {
    padding: 0 8px;
    line-height: 30px;
}

header img[alt=logo-black] {
    padding: 7px 0px 7px 7px;
    width: 90px;
}

/* Language nav */
.language-menu li {
    border-right: 1px solid black;
}

.language-menu li:last-child {
    border: none;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/hero-bg.jpg);
    height: 520px;
    text-align: center;
    background-size: cover;
    position: relative;
}

.teaser {
    color: white;
}

.teaser p {
    margin: 25px 0;
}

.teaser img {
    width: 160px;
}
/* END HEADER */

/* MAIN */

/* Products section */
.products {
    margin-top: 15px;
}

.products .inner-col {
    padding: 20px;
}

.products .content-col {
    text-align: center;
    background-color: #fafafa;
}

.products .content-col span {
    display: block;
    font-size: 23px;
    margin: 20px 0;
}

.products h2 {
    font-size: 30px;
    font-weight: 150;
    padding-top: 60px;
}

.products a {
    color: blue;
    font-size: 18px;
}

/* Phone Section */
.phone {
    background-image: url(../img/HelbizBanner.jpg);
    height: 500px;
    background-position: -200px -15px;
    background-size: 2000px;
}

.phone img {
    height: 600px;
    display: block;
    margin: auto;
    position: relative;
    top: 200px;
}

/* Info Section */
.info .inner-col {
    padding: 100px 0 50px 170px;
}

.info span {
    font-size: 30px;
}

.info .step-1 span {
    font-size: 14px;
    padding-top: 10px;
    display: inline-block;
}

@media all and (max-width: 991px) {

    .phone {
        margin-bottom: 300px;
    }

    .info .inner-col {
        text-align: center;
        padding: 0;
    }

    .info .step-1 {
        margin-top: 40px;
    }
}
